/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
#topheader {
	padding: 25px 15px 15px 15px;
	margin: 0 auto 0 auto;
	/*background: url(../img/top_left.gif) top left repeat-x #85C329;*/
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Document */

body{ background:url(../img/demo.jpg) no-repeat center 2px ;display:block; }
.logo{width:1350px;padding-top:25px; margin:0 auto}


.center{ background:url(../img/bg_03.PNG) no-repeat center; display:block; width:342px; height:300px; margin:200px auto;}
.center-li{padding:78px 65px 20px 65px;}
/*.center p{ width:222px; height:26px; line-height:26px; padding-top:21px;}
.center p span{ float:left; font-family:"微软雅黑"; color:#333333}
.center p input{ float:right; width:152px; height:26px; border:#999999 1px solid;}*/

.center ul li{ margin:auto;width:222px; height:46px; line-height:26px; position: relative}
.center ul li span{ float:left; width:65px; font-family:"微软雅黑"; color:#333333}
.center ul li span.msg{ width:222px; font-family:"微软雅黑"; color:#333333;text-align: center}
.center ul li input{ float:left; padding-left:5px; width:142px; height:26px; border:#999999 1px solid;}
.center ul li input.chapat{ float:left; width:72px; height:26px; border:#999999 1px solid;}
.center button{ width:71px; height:28px;font-family:"微软雅黑"; }

.di3{ width:222px; height:30px; line-height:26px; padding-top:16px;}
.di3 span{ float:left; font-family:"微软雅黑"; color:#333333}
/*.di3 input{ float:left; width:70px; height:26px; border:#999999 1px solid; margin-left:4px;}*/
.di3 strong{ float:right; width:60px; height:26px;border:#999999 1px solid; text-align:center; font-family:"微软雅黑";}

.anniu{ width:162px; height:28px; margin:35px auto;}

.denglu{ width:71px; height:28px;}
.denglu button{ width:71px; height:28px; float:left; font-family:"微软雅黑";/* border: 0px;background:#8E8EC6 */}
.denglu a{ width:71px; height:28px; background:url(../img/denglu.PNG) no-repeat; display:block;}
.denglu a:hover{ background:url(../img/dengludianji.PNG) no-repeat;}

.mima{ width:71px; height:28px;}
.mima button{ width:71px; height:28px; float:left;font-family:"微软雅黑";/*padding-left:18px;  border: 0px;background:#B3B3B3 */}
.mima a{ width:71px; height:28px; background:url(../img/zhaohuimima.PNG) no-repeat; display:block;}
.mima a:hover{ background:url(../img/zhaohuimimadianji.PNG) no-repeat;}

