/* CSS Document */

body{ background:url(../img/background.PNG) no-repeat center 2px ;display:block; }
.logo{width:1350px;padding-top:25px; margin:0 auto}


.center{ background:url(../img/bg_03.PNG) no-repeat center; display:block; width:342px; height:300px; margin:200px auto;}
.center-li{padding:78px 65px 20px 65px;}
/*.center p{ width:222px; height:26px; line-height:26px; padding-top:21px;}
.center p span{ float:left; font-family:"微软雅黑"; color:#333333}
.center p input{ float:right; width:152px; height:26px; border:#999999 1px solid;}*/

.center ul li{ margin:auto;width:222px; height:46px; line-height:26px; position: relative}
.center ul li span{ float:left; width:65px; font-family:"微软雅黑"; color:#333333}
.center ul li span.msg{ width:222px; font-family:"微软雅黑"; color:#333333;text-align: center}
.center ul li input{ float:left; padding-left:5px; width:142px; height:26px; border:#999999 1px solid;}
.center ul li input.chapat{ float:left; width:72px; height:26px; border:#999999 1px solid;}
.center button{ width:71px; height:28px;font-family:"微软雅黑"; }

.di3{ width:222px; height:30px; line-height:26px; padding-top:16px;}
.di3 span{ float:left; font-family:"微软雅黑"; color:#333333}
/*.di3 input{ float:left; width:70px; height:26px; border:#999999 1px solid; margin-left:4px;}*/
.di3 strong{ float:right; width:60px; height:26px;border:#999999 1px solid; text-align:center; font-family:"微软雅黑";}

.anniu{ width:162px; height:28px; margin:35px auto;}

.denglu{ width:71px; height:28px;}
.denglu button{ width:71px; height:28px; float:left; font-family:"微软雅黑";/* border: 0px;background:#8E8EC6 */}
.denglu a{ width:71px; height:28px; background:url(../img/denglu.PNG) no-repeat; display:block;}
.denglu a:hover{ background:url(../img/dengludianji.PNG) no-repeat;}

.mima{ width:71px; height:28px;}
.mima button{ width:71px; height:28px; float:left;font-family:"微软雅黑";/*padding-left:18px;  border: 0px;background:#B3B3B3 */}
.mima a{ width:71px; height:28px; background:url(../img/zhaohuimima.PNG) no-repeat; display:block;}
.mima a:hover{ background:url(../img/zhaohuimimadianji.PNG) no-repeat;}

